# build / cmake outputs
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/
*.o
*.so
*.a
*.out
*.log

# python
__pycache__/
*.pyc
.venv/
.env/

# IDE/OS
.vscode/
.DS_Store

# DO NOT publish ROMs
ROMS/

